@use "../variables/colors";
@use "../variables/fonts";
@use "../variables/mixin--background";
@use "../components/button";
@use "../components/title";
@use "../components/subtext";
@use "../components/card";

.pinned-section__card {
    @extend %card;
    justify-content: space-between;
    position: relative;
    padding: 2rem;
    min-height: 12rem;
    .pinned-section__card__pinned {
        @extend %button;
    }
    .pinned-section__card__content {
        p {
            @extend %subtext;
        }
        h3 {
            @extend %title;
        }
    }
    @for $i from 1 to 5 
        {
            &.card#{$i} 
            {
                grid-area: card+$i;
                h3 {
                    font-size: 1.1em;
                }
            }
        }
    @each $i in 2, 4 
        {
        &.card#{$i}
            {
            .pinned-section__card__pinned {
                background-color: colors.$color-font-loop-and-elements-one;
                color: colors.$color-font-loop-and-elements-two;
            }
            .pinned-section__card__content {
                color: colors.$color-font-loop-and-elements-one;
            }
            }
        }
    &.pinned::before {
        @include mixin--background.background(colors.$color-font-loop-and-elements-two, 0.8, "https://images.unsplash.com/photo-1562664377-709f2c337eb2?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=850&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ-link");
    }
    &.card1::before {
        @include mixin--background.background(blue, 0.5, "https://images.unsplash.com/photo-1566764581662-6cd06d381aef?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=850&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ");
    }
    &.card2::before {
        @include mixin--background.background(colors.$color-apricot, 1, "#");
    }
    &.card3::before {
        @include mixin--background.background(colors.$color-eggplant, 0.6, "https://images.unsplash.com/photo-1496917756835-20cb06e75b4e?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=850&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ");
    }
    &.card4::before {
        @include mixin--background.background(colors.$color-cerise, 1, "https://images.unsplash.com/photo-1562185022-c0a7889d7fbb?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=850&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ");
    }
}