@import url("https://fonts.googleapis.com/css?family=Corben:700|Mulish:400,700,800&display=swap");
.header-section {
  width: 100%;
  padding: 2.5rem 0;
}
.header-section .header-section__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.header-section .header-section__wrapper .header-section__logo img {
  width: 100%;
  height: 2rem;
}
.header-section .header-section__wrapper .header-section__nav {
  display: block;
  font-size: 0.9rem;
  font-weight: 800;
}
.header-section .header-section__wrapper .header-section__nav ul {
  list-style-type: none;
}
.header-section .header-section__wrapper .header-section__nav ul li {
  display: inline-block;
}
.header-section .header-section__wrapper .header-section__nav ul li a {
  color: #ebebeb;
  text-decoration: none;
  padding: 2px;
  margin: 0 7px;
  line-height: 1.4;
}
.header-section .header-section__wrapper .header-section__nav ul li .active::after {
  content: "";
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  position: absolute;
  margin-left: 3px;
  background-color: #ffb469;
  transition: background-color 0.3s ease;
}
.header-section .header-section__wrapper .header-section__nav ul li :after {
  content: "";
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  position: absolute;
  margin-left: 3px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}
.header-section .header-section__wrapper .header-section__nav ul li :hover:not(.active):after {
  background-color: grey;
}
.header-section .header-section__wrapper .header-section__nav ul li svg {
  width: 1rem;
  height: 1rem;
  fill: #ebebeb;
  margin: 0 0 -3px 5px;
}

.article--small__wrapper .article--small__post .article--small__post__button, .article--big__post .article--big__post__button, .article--big__post:nth-of-type(2) .article--big__post__button, .pinned-section__card .pinned-section__card__pinned {
  width: fit-content;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  word-break: keep-all;
  background-color: #ebebeb;
  color: #333350;
  padding: 2px 9px;
  border-radius: 3rem;
  position: relative;
  font-size: 0.5rem;
}

.article--small__wrapper .article--small__post .article--small__post__title, .article--big__post .article--big__post__title, .pinned-section__card .pinned-section__card__content h3 {
  font-family: "Corben", serif;
  font-size: 1.75rem;
  font-weight: 700;
  letter-spacing: 1.3px;
  position: relative;
}

.article--small__wrapper .article--small__post .article--small__post__subtext, .article--big__post .article--big__post__subtext, .pinned-section__card .pinned-section__card__content p {
  font-size: 0.75rem;
  padding: 0.4rem 0;
  position: relative;
}

.article--small__wrapper .article--small__post, .article--big__post, .pinned-section__card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 1rem;
  position: relative;
  word-break: keep-all;
  overflow: hidden;
  cursor: pointer;
}

.pinned-section__card {
  justify-content: space-between;
  position: relative;
  padding: 2rem;
  min-height: 12rem;
}
.pinned-section__card.card1 {
  grid-area: card1;
}
.pinned-section__card.card1 h3 {
  font-size: 1.1em;
}
.pinned-section__card.card2 {
  grid-area: card2;
}
.pinned-section__card.card2 h3 {
  font-size: 1.1em;
}
.pinned-section__card.card3 {
  grid-area: card3;
}
.pinned-section__card.card3 h3 {
  font-size: 1.1em;
}
.pinned-section__card.card4 {
  grid-area: card4;
}
.pinned-section__card.card4 h3 {
  font-size: 1.1em;
}
.pinned-section__card.card2 .pinned-section__card__pinned {
  background-color: #333350;
  color: #ebebeb;
}
.pinned-section__card.card2 .pinned-section__card__content {
  color: #333350;
}
.pinned-section__card.card4 .pinned-section__card__pinned {
  background-color: #333350;
  color: #ebebeb;
}
.pinned-section__card.card4 .pinned-section__card__content {
  color: #333350;
}
.pinned-section__card.pinned::before {
  background-color: #ebebeb;
  background-image: url("https://images.unsplash.com/photo-1562664377-709f2c337eb2?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=850&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ-link");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
  background-blend-mode: multiply;
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border-radius: 1rem;
}
.pinned-section__card.card1::before {
  background-color: blue;
  background-image: url("https://images.unsplash.com/photo-1566764581662-6cd06d381aef?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=850&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
  background-blend-mode: multiply;
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border-radius: 1rem;
}
.pinned-section__card.card2::before {
  background-color: #ffb469;
  background-image: url("#");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  background-blend-mode: multiply;
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border-radius: 1rem;
}
.pinned-section__card.card3::before {
  background-color: #77008f;
  background-image: url("https://images.unsplash.com/photo-1496917756835-20cb06e75b4e?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=850&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.6;
  background-blend-mode: multiply;
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border-radius: 1rem;
}
.pinned-section__card.card4::before {
  background-color: ff9ed8;
  background-image: url("https://images.unsplash.com/photo-1562185022-c0a7889d7fbb?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=850&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  background-blend-mode: multiply;
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border-radius: 1rem;
}

.article--big__post {
  padding: 2rem 15%;
  margin: 3rem auto;
  min-height: 30rem;
}
.article--big__post .article--big__post__button {
  font-size: 0.6rem;
  margin: 5px;
  background-color: transparent;
  border: 1px solid #ebebeb;
  color: #ebebeb;
}
.article--big__post .article--big__post__button:hover {
  background-color: #ebebeb;
  color: #333350;
}
.article--big__post .article--big__post__title {
  font-size: 2.8rem;
  margin: 1.5rem auto;
}
.article--big__post .article--big__post__subtext {
  font-size: 1rem;
  font-weight: 700;
  width: 85%;
}
.article--big__post svg {
  width: 2rem;
  height: 2rem;
  margin-left: -1rem;
  margin-top: 1rem;
  overflow: hidden;
  fill: transparent;
}
.article--big__post :hover svg {
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  transition-property: margin-left, fill;
  fill: #ebebeb;
  margin-left: 0;
}
.article--big__post:nth-of-type(2) .article--big__post__button {
  font-size: 0.6rem;
  background-color: transparent;
  color: #333350;
  border: 1px solid #333350;
}
.article--big__post:nth-of-type(2) .article--big__post__button:hover {
  background-color: #333350;
  color: #ebebeb;
}
.article--big__post:nth-of-type(2) .article--big__post__title {
  color: #333350;
}
.article--big__post:nth-of-type(2) .article--big__post__subtext {
  color: #333350;
}
.article--big__post:nth-of-type(2) :hover svg {
  fill: #333350;
}
.article--big__post:nth-of-type(1)::before {
  background-color: #ebebeb;
  background-image: url("https://images.unsplash.com/photo-1558697698-9300a84a6a99?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=850&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.6;
  background-blend-mode: multiply;
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border-radius: 1rem;
}
.article--big__post:nth-of-type(2)::before {
  background-color: #fed672;
  background-image: url("https://images.unsplash.com/photo-1543248939-ff40856f65d4?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=850&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.9;
  background-blend-mode: multiply;
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border-radius: 1rem;
  background-blend-mode: soft-light;
}
.article--big__post:nth-of-type(3)::before {
  background-color: #ebebeb;
  background-image: url("https://images.unsplash.com/photo-1524758631624-e2822e304c36?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=850&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.6;
  background-blend-mode: multiply;
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border-radius: 1rem;
}

.article--small__header {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.7rem;
  letter-spacing: 2px;
}

.article--small__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3rem auto;
  transition: transform 0.5s ease-in-out;
}
.article--small__wrapper :hover::before {
  transform: scale(1.05);
}
.article--small__wrapper .article--small__post {
  justify-content: flex-start;
  width: 20rem;
  padding: 2rem;
  margin: 0.7rem;
}
.article--small__wrapper .article--small__post .article--small__post__button {
  font-size: 0.6rem;
  font-weight: 700;
  margin: 5px;
  background-color: transparent;
  border: 1px solid #333350;
  color: #333350;
}
.article--small__wrapper .article--small__post .article--small__post__button:hover {
  background-color: #333350;
  color: #ebebeb;
}
.article--small__wrapper .article--small__post .article--small__post__title {
  color: #333350;
  margin: 1.5rem auto;
}
.article--small__wrapper .article--small__post .article--small__post__subtext {
  color: #333350;
  font-weight: 700;
}
.article--small__wrapper .article--small__post svg {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: -1rem;
  margin-top: 0.6rem;
  overflow: hidden;
  fill: transparent;
}
.article--small__wrapper .article--small__post :hover svg {
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  transition-property: margin-left, fill;
  fill: #333350;
  margin-left: 0;
}
.article--small__wrapper .article--small__post:nth-of-type(3) .article--small__post__button {
  background-color: transparent;
  color: #ebebeb;
  border: 1px solid #ebebeb;
}
.article--small__wrapper .article--small__post:nth-of-type(3) .article--small__post__button:hover {
  background-color: #ebebeb;
  color: #333350;
}
.article--small__wrapper .article--small__post:nth-of-type(3) .article--small__post__title {
  color: #ebebeb;
}
.article--small__wrapper .article--small__post:nth-of-type(3) .article--small__post__subtext {
  color: #ebebeb;
}
.article--small__wrapper .article--small__post:nth-of-type(3) :hover svg {
  fill: #ebebeb;
}
.article--small__wrapper .article--small__post:nth-of-type(5) .article--small__post__button {
  background-color: transparent;
  color: #ebebeb;
  border: 1px solid #ebebeb;
}
.article--small__wrapper .article--small__post:nth-of-type(5) .article--small__post__button:hover {
  background-color: #ebebeb;
  color: #333350;
}
.article--small__wrapper .article--small__post:nth-of-type(5) .article--small__post__title {
  color: #ebebeb;
}
.article--small__wrapper .article--small__post:nth-of-type(5) .article--small__post__subtext {
  color: #ebebeb;
}
.article--small__wrapper .article--small__post:nth-of-type(5) :hover svg {
  fill: #ebebeb;
}
.article--small__wrapper .article--small__post:nth-of-type(1) {
  flex-basis: 40%;
}
.article--small__wrapper .article--small__post:nth-of-type(2) {
  flex-basis: 40%;
}
.article--small__wrapper .article--small__post:nth-of-type(1)::before {
  background-color: #eebeff;
  background-image: url("https://images.unsplash.com/photo-1487015307662-6ce6210680f1?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=850&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.7;
  background-blend-mode: multiply;
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border-radius: 1rem;
  background-blend-mode: soft-light;
}
.article--small__wrapper .article--small__post:nth-of-type(2)::before {
  background-color: #ffb469;
  background-image: url("https://images.unsplash.com/photo-1544457070-4cd773b4d71e?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=850&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.9;
  background-blend-mode: multiply;
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border-radius: 1rem;
  background-blend-mode: screen;
}
.article--small__wrapper .article--small__post:nth-of-type(3)::before {
  background-color: #ebebeb;
  background-image: url("https://images.unsplash.com/photo-1528441397448-a44d50563cf8?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=850&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.9;
  background-blend-mode: multiply;
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border-radius: 1rem;
}
.article--small__wrapper .article--small__post:nth-of-type(4)::before {
  background-color: #77008f;
  background-image: url("https://images.unsplash.com/photo-1562185022-c0a7889d7fbb?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=850&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
  background-blend-mode: multiply;
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border-radius: 1rem;
  background-blend-mode: luminosity;
}
.article--small__wrapper .article--small__post:nth-of-type(5)::before {
  background-color: #ebebeb;
  background-image: url("https://images.unsplash.com/photo-1551216223-37c8d1dbec5c?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=850&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.9;
  background-blend-mode: multiply;
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border-radius: 1rem;
}

.article--small__button--load {
  background-color: #363643;
  color: #ebebeb;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 0.75rem;
  letter-spacing: 5px;
  text-align: center;
  height: auto;
  border-radius: 0.8rem;
  padding: 1.4rem;
  width: calc(80% - 1rem);
  margin: 0.8rem auto;
  cursor: pointer;
}
.article--small__button--load:hover {
  color: #333350;
  background-color: #ffb469;
}

.subscribe__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem auto;
  text-align: center;
}
.subscribe__wrapper .subscribe__form {
  max-width: 800px;
  padding: 70px 50px;
}
.subscribe__wrapper .subscribe__form h3 {
  font-size: 2.3rem;
  font-family: "Corben", serif;
  font-weight: 700;
  line-height: 1.45;
  padding: 1rem;
  max-width: 40rem;
}
.subscribe__wrapper .subscribe__form label {
  display: inline-block;
  font: "Mulish", sans-serif;
  font-weight: 700;
  overflow: hidden;
  border-right: 2.5px solid #ffb469;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15rem;
  max-width: max-content;
  animation: typing 3.5s steps(40) alternate infinite, blink-caret 0.75s step-end infinite;
}
.subscribe__wrapper .subscribe__form input {
  display: block;
  font-size: 1.12rem;
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  color: #545260;
  background-color: transparent;
  width: 65%;
  height: 1.8rem;
  text-align: center;
  word-break: normal;
  margin: 20px auto 30px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #ebebeb;
  box-shadow: none;
  outline: none;
}
.subscribe__wrapper .subscribe__form input::placeholder {
  opacity: 0.6;
}
.subscribe__wrapper .subscribe__form button {
  font-size: 0.75rem;
  font-weight: 800;
  height: auto;
  margin: 1.5rem 0 0 0;
  padding: 2rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #ebebeb;
  background-color: #363643;
  border-radius: 0.8rem;
  border: none;
}
.subscribe__wrapper .subscribe__form button:hover {
  color: #333350;
  background-color: #ffb469;
  padding: 2rem 2.5rem;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
footer .footer__wrapper {
  width: 100%;
  padding: 1.5rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
footer .footer__wrapper nav {
  display: block;
  font-size: 0.9rem;
  font-weight: 800;
}
footer .footer__wrapper nav ul li {
  display: inline-block;
}
footer .footer__wrapper nav ul li a {
  color: #ebebeb;
  font-weight: 700;
  text-decoration: none;
  padding: 2px;
  margin: 0 4px;
}
footer .footer__wrapper nav ul li a.active::after {
  content: "";
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  position: absolute;
  margin-left: 3px;
  background-color: #ffb469;
  transition: background-color 0.3s ease;
}
footer .footer__wrapper nav ul li :after {
  content: "";
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  position: absolute;
  margin-left: 3px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}
footer .footer__wrapper nav ul li :hover:not(.active):after {
  background-color: grey;
}
footer .footer__wrapper .footer__icons {
  display: block;
}
footer .footer__copyright {
  font-size: 0.6rem;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  padding: 0 2rem 2rem 6px;
  color: #ebebeb;
  opacity: 0.8;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  font-family: "Mulish", sans-serif;
  font-size: 1.18rem;
  font-weight: 400;
  line-height: 1.5;
  word-wrap: break-word;
  word-break: break-word;
  color: #ebebeb;
}

.global-container {
  padding: 0 4rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #252530;
}

.pinned-section {
  width: 100%;
  display: grid;
  gap: 1rem;
  margin: 2rem 0;
  grid-template-areas: "pinned card1 card2" "pinned card3 card4";
  transition: transform 0.2s ease-in-out;
}
.pinned-section .pinned-section__card.pinned {
  grid-area: pinned;
}
.pinned-section :hover {
  transform: translateY(-3px);
}

.article--big {
  width: 100%;
  display: flexbox;
  flex-direction: column;
  padding: 0 3rem;
  transition: transform 0.5s ease-in-out;
}
.article--big :hover::before {
  transform: scale(1.1);
}

/*# sourceMappingURL=style.css.map */
