@use "./variables/colors";
@use "./variables/fonts";

@use "./components/header";
@use "./components/pinned-card";
@use "./components/article--big";
@use "./components/article--small";
@use "./components/footer";
@use "./components/subscribe";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
    height: 100%;
    font-family: fonts.$font-family-secondary;
    font-size: 1.18rem;
    font-weight: fonts.$font-weight-secondary-regular;
    line-height: 1.5;
    word-wrap: break-word;
    word-break: break-word;
    color: colors.$color-font;
}

.global-container {
    padding: 0 4rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: colors.$color-bg-body;
}

.pinned-section {
    width: 100%;
    display: grid;
    gap: 1rem;
    margin: 2rem 0;
    grid-template-areas:
    "pinned card1 card2"
    "pinned card3 card4";
    .pinned-section__card {
        &.pinned {
            grid-area: pinned;
        }
    }
    transition: transform 0.2s ease-in-out;
    :hover {
        transform: translateY(-3px);
    }
}

.article--big {
    width: 100%;
    display: flexbox;
    flex-direction: column;
    padding: 0 3rem;
    transition: transform 0.5s ease-in-out;
    :hover::before {
        transform: scale(1.1);
    }
}

