// --color-font: #ebebeb;
// --color-font-loop-and-elements-one: #333350;
// --color-font-loop-and-elements-two: #ebebeb;
// --color-font-paragraph: #cecece;
// --color-font-inverse: #333350;
// --color-elements-one: #363643;
// --color-elements-two: #545260;
// --color-elements-three: #ebebeb;
// --color-bg-body: #252530;
// --color-bg-one: #2a2a35;
// --color-bg-two: #31313d;
// --color-bg-three: #1e1e28;
// --color-font-alert-red: #F74856;
// --color-font-alert-orange: #ff970d;
// --color-font-members-button: #ebebeb;
// --color-font-members-cta-color-dark-button: #333350;
// --color-bg-members-cta: #363643;
// --color-bg-members-cta-shadow: #161519;
// --color-bg-members-button: #333350;

$color-font: #ebebeb;
$color-font-loop-and-elements-one: #333350;
$color-font-loop-and-elements-two: #ebebeb;
$color-font-paragraph: #cecece;
$color-font-inverse: #333350;
$color-elements-one: #363643;
$color-elements-two: #545260;
$color-elements-three: #ebebeb;
$color-bg-body: #252530;
$color-bg-one: #2a2a35;
$color-bg-two: #31313d;
$color-bg-three: #1e1e28;
$color-font-alert-red: #F74856;
$color-apricot: #ffb469;
$color-eggplant: #77008f;
$color-cerise: ff9ed8;
$color-amber: #fed672;