//--font-family-primary: 'Corben', serif;
//--font-weight-primary-bold: 700;
//--font-scale-primary: 0%;
//--font-family-secondary: 'Mulish', sans-serif;
//--font-weight-secondary-regular: 400;
//--font-weight-secondary-bold: 700;
//--font-weight-secondary-extra-bold: 800;

@import url('https://fonts.googleapis.com/css?family=Corben:700|Mulish:400,700,800&display=swap');

$font-family-primary: 'Corben', serif;
$font-weight-primary-bold: 700;
$font-scale-primary: 0%;
$font-family-secondary: 'Mulish', sans-serif;
$font-weight-secondary-regular: 400;
$font-weight-secondary-bold: 700;
$font-weight-secondary-extra-bold: 800;
